<h1>People who have signed</h1>

<ul class="signers">
    {{#signers}}
        <li>
            <h3>{{#if url}}
                    <div><a href={{url}}>{{first}} {{last}}</a>
                        {{age}}
                        <a href="/signers/{{city}}">{{city}}</a></div>
                {{else}}
                    <p>{{first}} {{last}} {{age}}</p>
                {{/if}}</h3>
        </li>
    {{/signers}}
</ul>